.container-form{
    width: 480px;
    height: 320px;
    padding: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 30%;
    top: 50%;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.ccIcon-operadora{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.numeroCartao-titular{
    margin: 60px 0px;
    color: rgb(230, 223, 223);
}

.numeroCartao{
    font-size: 30px;
    font-weight: 600;
}

.titular{
    font-size: 23px;
}

.expiracao-CVC{
    color: rgb(230, 223, 223);
    display: flex;
    justify-content:space-between;
}